<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker Empleado</title>

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="card">
        <h1>Hola, {{ usuario }}</h1>
        <p id="msg">Presiona para iniciar tu monitoreo de jornada.</p>
        <button id="btn-start" onclick="iniciarJornada()">Iniciar Turno</button>
        <hr>
        <p>Último reporte: <span id="last-update">-</span></p>
                    <a href="/logout" style="color: #666; margin-left: 15px;">Salir</a>

    </div>

    <script>
        function iniciarJornada() {
            document.getElementById('btn-start').disabled = true;
            document.getElementById('msg').innerText = "Rastreo activo (Cada 50 min)";
            enviarUbicacion();
            setInterval(enviarUbicacion, 50 * 60 * 1000);
        }

        function enviarUbicacion() {
            navigator.geolocation.getCurrentPosition((pos) => {
                fetch('/update-location', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({ 
                        lat: pos.coords.latitude, 
                        lon: pos.coords.longitude 
                    })
                });
                document.getElementById('last-update').innerText = new Date().toLocaleTimeString();
            }, (err) => alert("Activa el GPS"), { enableHighAccuracy: true });
        }
    </script>
</body>
</html>